# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool
*.out

# Test binary, build artifacts
*.test
*.log

# Dependency directories (if you're not using Go modules)
vendor/

# IDE/editor settings
.idea/
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
